@import './styles/design-tokens.css';
@import './styles/utilities.css';

@font-face {
  font-family: 'FK Raster';
  src: url('/fonts/FK_Raster_Roman_Compact_Smooth.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('/fonts/PP_Neue_Montreal_Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('/fonts/PP_Neue_Montreal_Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

:root {
  font-family: var(--font-body);
  line-height: 1.5;
  font-weight: 400;
  background-color: var(--color-background);
  color: var(--color-foreground);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
}